[project]
	description = Java Web application to manage the daily expenses and income
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ghostrider1255
[access "refs/for/refs/*"]
	read = group user/ghostrider1255
	push = group user/ghostrider1255
	label-Code-Review = -2..+2 group user/ghostrider1255
	label-Verified = -1..+1 group user/ghostrider1255
	rebase = group user/ghostrider1255
	removeReviewer = group user/ghostrider1255
	submit = group user/ghostrider1255
[access "refs/heads/*"]
	read = group user/ghostrider1255
	create = group user/ghostrider1255
	push = +force group user/ghostrider1255
	pushMerge = group user/ghostrider1255
[access "refs/tags/*"]
	push = group user/ghostrider1255
	push = +force group user/ghostrider1255
